<a class="vignette-personnage-link" (click)="accederDetailPersonnage(personnage)">
  <div class="vignette-personnage">
      <div class="vignette-personnage-avatar">
        <img src="{{envVariableBaseUrlBlizzardRender}}/character/{{personnage.imagePortrait}}"  alt="Avatar"/>
      </div>
      <div class="vignette-personnage-body">
        <div class="vignette-personnage-heure">
          le {{personnage.heureConsultation | date:'dd/MM/yyyy'}} à {{personnage.heureConsultation | date:'HH:mm:ss'}}
        </div>
        <div class="vignette-personnage-body-nom">
          <span [style.background-color]="personnage.couleurCss" class="label">{{personnage.nom}} - {{personnage.serveur}} - {{personnage.classe}}, {{personnage.niveau}}</span>
        </div>
      </div>
  </div>
</a>

