<div class="vignette-personnage">
  <div class="vignette-personnage-avatar">
    <img src="{{envVariableBaseUrlBlizzardRender}}/character/{{personnage.imagePortrait}}"  alt="Avatar"/>
  </div>
  <div class="vignette-personnage-body">
    <div>{{personnage.nom}} - {{personnage.serveur}}</div>
    <div>{{personnage.classe}} de niveau {{personnage.niveau}}</div>
  </div>
  <div class="vignette-personnage-heure">
    <div>{{personnage.heureConsultation | date:'dd/MM/yyyy'}}</div>
    <div>{{personnage.heureConsultation | date:'HH:mm:ss'}}</div>
  </div>
</div>

