<div *ngIf="personnage" class="character-overview">
    <div class="col-xs-4 stat-character-panel">
      <div class="row">

        <div>Vie : {{personnage.statistiques.pointDeVie}}</div>
        <div>Vie : 20150</div>
        <div class="h-separator"></div>
        <div>Vie : 20150</div>
        <div>Vie : 20150</div>
        <div>Vie : 20150</div>
      </div>
    </div>
    <div class="col-xs-4">
      <app-item *ngFor="let item of personnage.items.getItemsGaucheOrdonnes()" [item]="item"></app-item>
    </div>
    <div class="col-xs-4">
      <app-item *ngFor="let item of personnage.items.getItemsDroiteOrdonnes()" [item]="item" [alignerADroite]="true"></app-item>
    </div>
</div>
