<div class="main-container">
  <nav id="sticker" class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_bar_content_details" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h3 class="navbar-form">WoW Profiler</h3>
      </div>

      <div class="collapse navbar-collapse drop_menu" id="nav_bar_content_details">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/todo">À propos</a></li>
          <li><a routerLink="/todo">Contacter nous</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid body-container">
    <router-outlet></router-outlet>
  </div>

  <!--<footer class="footer">-->
    <!--<div class="text-center container-fluid">-->
      <!--<p>-->
        <!--World of Warcraft&trade;, Warcraft&trade; et Blizzard Entertainment&trade; sont des marques ou des marques déposées de-->
        <!--Blizzard Entertainment, Inc. aux États-Unis d’Amérique et/ou dans d’autres pays.<br>-->
        <!--Wow Profiler utilise, <a href="http://eu.blizzard.com/fr-fr/company/about/legal-faq.html">sous conditions</a>,-->
        <!--des termes, données et images distribués et propriétés de Blizzard Entertainment, Inc.-->
      <!--</p>-->
    <!--</div>-->
  <!--</footer>-->
</div>
