.card-character {
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px;
  -moz-box-shadow: 0px 0px 10px;
  -webkit-box-shadow: 0px 0px 10px;
  -o-box-shadow: 0px 0px 10px;
}

.card-character-background {
  background-repeat: repeat-x;
  background-position: 50% 0px;
  height: 300px;
}

.card-character-background:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
}

.card-character-foreground {
  position: absolute;
  top: 15px;
  left:0;
  right:0;
  overflow: visible;
  color: white;
}

.card-character-summary {
  display: flex;
  flex-direction: row;
}

.card-character-avatar {
  position: relative;
  border: 1px black solid;
  border-radius: 15%;
  -moz-border-radius: 15%;
}

.card-character-avatar > img {
  border-radius: inherit;
}

.card-character-id {
  margin-left: 10px;
}

.card-character-name {
  font-size: 32px;
  color: white;
}

.badge-faction {
  /* background image & color */
  background-size: 100%;
  background-color: #363636;
  /* taille et forme du badge */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px black solid;
  /* position du badge */
  position: absolute;
  left: -15px;
  top: -15px;
  margin: 0 auto;
}
.badge-niveau {
  /* background image & color */
  background-size: 100%;
  background-color: #363636;
  /* taille et forme du badge */
  width: 40px;
  height: 20px;
  line-height: 16px;
  border-radius: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border: 2px black solid;
  /* position du badge */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 auto;
  /* styling du texte */
  color: white;
  text-align: center;
  font-weight: bold;
}


.card-character-main-infos {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.card-character-main-infos div.card-character-main-infos-block:not(:first-child) {
  margin-top: 10px;
}

.card-character-main-infos-block {
}

.card-character-main-infos-block-entete {
  text-align: center;
  border-bottom: rgba(100,100,100,0.5) 1px solid;
}

.card-character-main-infos-block-valeur {
  font-size: 24px;
  line-height: 26px;
  height:26px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(255,255,255,.2) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(255,255,255,.2) 50%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(to right ,rgba(0,0,0,0) 0, rgba(255,255,255,.2) 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(255,255,255,.2) 50%, rgba(0,0,0,0) 100%);
}

.ilvl-global {
  color: #b2b2b2;
  font-size: 11px;
  vertical-align: top;
  font-weight: normal;
}
