<div class="col-xs-12 card-character">
  <div class="row">
    <div class="card-character-background" [ngStyle]="{'background-image': 'url(/src/assets/character-details/' + personnage.classeInfos.cardBackgroundLocation + ')'}"></div>
    <div class="card-character-foreground">
      <div class="col-xs-9 card-character-summary">
        <div>
          <div class="card-character-avatar">
            <img src="{{envVariableBaseUrlBlizzardRender}}/character/{{personnage.imagePortrait}}"  alt="Avatar"/>
            <div class="badge-faction"
                 [ngStyle]="{'background-image': 'url(/src/assets/' + (personnage.isHorde() ? 'horde-logo.png' : 'alliance-logo.png') + ')'}">
            </div>
            <div class="badge-niveau">
              {{personnage.niveau}}
            </div>
          </div>
        </div>
        <div class="card-character-id">
          <div class="card-character-name">
            {{personnage.getNomAvecSelectedTitre()}}
          </div>
          <div [style.color]="personnage.classeInfos.colorCss">
            {{personnage.getClasseLibelle()}} {{personnage.getMainSpecialisation().nom}}, {{personnage.getRaceLibelle()}}
          </div>
        </div>
      </div>
      <div class="col-xs-3 card-character-main-infos">
        <div class="pull-right card-character-main-infos-block">
          <div class="card-character-main-infos-block-entete" [style.border-bottom-color]="personnage.classeInfos.colorCss">
            Niveau moyen des objets équipés
          </div>
          <div class="card-character-main-infos-block-valeur" [style.color]="personnage.classeInfos.colorCss">
            {{personnage.items.ilvlEquipe}} <span class="ilvl-global">(Niveau moyen global : {{personnage.items.ilvlMoyen}})</span>
          </div>
        </div>
        <div class="pull-right card-character-main-infos-block">
          <div class="card-character-main-infos-block-entete" [style.border-bottom-color]="personnage.classeInfos.colorCss">
            <img src="/src/assets/achievements.gif"/>&nbsp;Hauts faits
          </div>
          <div class="card-character-main-infos-block-valeur" [style.color]="personnage.classeInfos.colorCss">
            {{personnage.pointsHautFaits}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
