html{
  height: 100%;
}
body {
  min-height: 100%;
}

/* CUSTOM */
.vertical-align {
  display: flex;
  align-items: center;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* COLORS */
.red-bold {
  color: red;
  font-weight: bold;
}

/* MARGINS */
.mtop20 {
  margin-top: 20px;
}

/* WIDTH */
.w20 {width: 20px;} .w30 {width: 30px;} .w40 {width: 40px;} .w50 {width: 50px;}

/* OVERRIDE BOOTSTRAP */
.container-fluid, .container {
  padding-left:0;
  padding-right:0;
}

/* OVERRIDE ANGULAR2 */
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
