html,body{ height:100%}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer div {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.footer p {
  font-size: 11px;
  margin-bottom: 0px;
}

/* CUSTOM */
.vertical-align {
  display: flex;
  align-items: center;
}

/* COLORS */
.red-bold {
  color: red;
  font-weight: bold;
}

/* MARGINS */
.mtop20 {
  margin-top: 20px;
}

/* OVERRIDE BOOTSTRAP */

/* OVERRIDE ANGULAR2 */
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
