.card-character[class^=col-] {
  padding-left: 0px;
  padding-right: 0px;
}

.card-character-background {
  background-repeat: repeat-x;
  background-position: 50% 0px;
  height: 300px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.card-character-background:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
}

.card-character-foreground {
  position: absolute;
  top: 15px;
  left:0;
  right:0;
  overflow: visible;
}

.card-character-summary {
  display: flex;
  flex-direction: row;
}

.card-character-avatar {
  position: relative;
  border: 1px black solid;
  border-radius: 15%;
  -moz-border-radius: 15%;
}

.card-character-avatar > img {
  border-radius: inherit;
}

.card-character-id {
  margin-left: 10px;
}

.card-character-name {
  font-size: 32px;
  color: white;
}

.badge-faction-et-niveau {
  /* background image & color */
  background-size: 100%;
  background-color: #363636;
  /* taille et forme du badge */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px black solid;
  /* position du badge */
  position: absolute;
  bottom: -15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* styling du texte */
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
}
