<div class="col-xs-12">
  <div class="text-center row">
    <h3 *ngIf="loading">
      Recherche du personnage en cours
    </h3>
    <span *ngIf="erreurApparue">
      <h4>Le personnage {{inNomPersonnage}} n'a pas été trouvé sur le serveur {{inNomServeur}}.</h4>
      <button routerLink="/" type="button" class="btn btn-primary">Retour sur la recherche</button>
    </span>
  </div>
</div>

<span *ngIf="personnage">
  <div class="col-xs-12 card-character text-center">
      <div class="card-character-background"></div>
      <div class="card-character-foreground">
        <div class="text-center">
          <img src="https://render-eu.worldofwarcraft.com/character/{{personnage.imagePortrait}}"  alt="Avatar"/>
        </div>
        <div class="text-center card-character-name">
          {{personnage.getNomAvecSelectedTitre()}}
        </div>
      </div>
  </div>
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</span>


