.item {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.item-right {
  flex-direction: row-reverse;
}

.item-icon {
  width: 40px;
  height: 40px;
  border: 2px solid;
  background-size: cover;
}

.item-info-primaire {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.item-right .item-info-primaire {
  flex-direction: column;
  margin-left: 0px;
  margin-right: 3px;
}

.item-right .item-info-primaire span {
  float: right;
}

.item-type {
  color: #000000;
}

.item-ilvl {
  font-style: italic;
  font-weight: 600;
}

.item-nom {
  font-weight: 600;
}

.item-empty {
  border-color: grey;
  background-image: url("/src/assets/item-icons-empty.png");
}
