<div class="item" [ngClass]="{'item-right' : alignerADroite}">
  <div *ngIf="item.emptyItem; else itemSlot" class="item-icon item-empty" [style.background-position]="'0 ' + item.decalageHeightEmptyIcon +'%'"
       tooltip="{{item.typeSlot}} (vide)" [placement]="alignerADroite ? 'left' : 'right'">
  </div>
  <ng-template #itemSlot>
    <a class="wowheadTooltip" [href]="getItemWowHeadUrlRelation()">
      <div class="item-icon" [style.background-image]="'url(' + item.getIconItem56Pixel() + ')'" [style.border-color]="item.qualite.colorCss"></div>
    </a>
    <div class="item-info-primaire">
      <span class="item-nom" [style.color]="item.qualite.colorCss">
        <a class="wowheadTooltip" [href]="getItemWowHeadUrlRelation()">
          {{item.nom}}
        </a>
      </span>
      <div>
        <span class="item-ilvl">
          {{item.ilvl}}
        </span>
      </div>
    </div>
  </ng-template>
</div>
