.item {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  font-size: 13px;
}

.item a.wowheadTooltip {
  text-decoration: none;
  color: inherit;
}

.item-right {
  direction: rtl;
}

.item-icon {
  width: 60px;
  height: 60px;
  border: 2px solid;
  background-size: cover;
}

.item-info-primaire {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.item-right .item-info-primaire {
  margin-left: 0px;
  margin-right: 3px;
}

.item-right .item-info-primaire span {
  float: right;
}

.item-type {
  color: #000000;
}

.item-ilvl {
  font-style: italic;
  font-weight: 900;
}

.item-nom {
  font-weight: 600;
}

.item-empty {
  border-color: grey;
  background-image: url("/src/assets/item-icons-empty.png");
}
